//colors
$orange-300: hsl(15, 100%, 70%); //work
$blue-300: hsl(195, 74%, 62%); //play
$pink-400: hsl(348, 100%, 68%); //study
$green-400: hsl(145, 58%, 55%); //exercise
$purple-700: hsl(264, 64%, 52%); //social
$yellow-300: hsl(43, 84%, 65%); //self care
$purple-600: hsl(246, 80%, 60%);
$navy-950: hsl(226, 43%, 10%);
$navy-900: hsl(235, 46%, 20%);
$purple-500: hsl(235, 45%, 61%);
$navy-200: hsl(236, 100%, 87%);
$white-text: hsl(0, 0%, 100%);
//hover
$navi-hover: hsl(235, 45%, 30%);

//font weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;

//font size
$fs-sm: 13px;
$fs-md: 15px;
$fs-lrg: 48px;
$fs-body: 18px;

//paddings, margins and gaps
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;

//radius
$b-rad: 18px;

//width
$w-s: 20%;
$w-m: 40%;
$w-l: 60%;
$w-xl: 80%;
$w-full: 100%;

//height
$vh-full: 100vh;
$vh-s: 40vh;
$vh-m: 80vh;
$height-half: 50%;
$height-full: 100%;
