@use "_mixins" as *;
@use "_variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  @include body-template;
  background: $navy-950;
  font-family: "Rubik", sans-serif;
}

// left side
.dashboard {
  @include flex-center;
  min-height: $vh-full;
  gap: $space-2;
  max-width: 1100px;
  margin: 0 auto;

  .profile {
    background: $navy-900;
    border-radius: $b-rad;
    width: 250px;
    @include flex-simple;
    flex-direction: column;
    justify-content: space-between;

    .user-card {
      background: $purple-600;
      padding: $space-1;
      border-radius: $b-rad;

      .avatar {
        width: 60px;
        border-radius: 50%;
        border: 3px solid $white-text;
        margin-bottom: $space-1;
      }
      p {
        font-size: $fs-md;
        color: $navy-200;
      }
      h1 {
        font-weight: $fw-300;
        margin: 0 0 $space-1 0;
      }
    }
    .timeline {
      @include flex-simple;
      flex-direction: column;
      padding: $space-2;
      gap: $space-1;
      color: $navy-200;
      button {
        background: none;
        border: none;
        text-align: left;
        color: $purple-500;
        cursor: pointer;
        font-size: $fs-body;
      }
      button.active {
        color: white;
      }
    }
  }
}

//right side
.cards-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: $space-2;

  .card {
    background: $navy-900;
    border-radius: $b-rad;
    overflow: hidden;
    position: relative;

    .card-top {
      height: 50px;
      @include flex-simple;
      justify-content: flex-end;
      img {
        width: 25%;
        margin-right: $space-1;
        object-fit: cover;
      }
    }
  }
  .card-content {
    padding: 1.5rem;
    position: relative;
    background: $navy-900;
    border-radius: $b-rad;
    margin-top: -1rem;
    &:hover {
      cursor: pointer;
      background-color: $navi-hover;
    }
    h2 {
      font-size: $fs-body;
      font-weight: 500;
      margin: 0 0 0.5rem 0;
    }
    span {
      position: absolute;
      top: 24px;
      right: 30px;
      cursor: pointer;
      color: $navy-200;
      &:hover {
        color: $white-text;
      }
    }
    .hours {
      font-size: $fs-lrg;
      font-weight: $fw-300;
      margin-bottom: 0.5rem;
    }
    .previous {
      font-size: $fs-md;
      opacity: 1;
      color: $navy-200;
    }
  }
}

.work .card-top {
  background: $orange-300;
}
.play .card-top {
  background: $blue-300;
}
.study .card-top {
  background: $pink-400;
}
.exercise .card-top {
  background: $green-400;
}
.social .card-top {
  background: $purple-700;
}
.self-care .card-top {
  background: $yellow-300;
}

//footer
.attribution {
  font-size: $fs-sm;
  text-align: center;
  color: $white-text;
  a {
    text-decoration: none;
    color: $purple-500;
  }
}

//MEDIA
//responsive 48rem - 768px
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    align-items: stretch;
    min-height: auto;
    padding: $space-2 $space-1;
    gap: $space-2;
  }
  .dashboard {
    .profile {
      width: 100%;
      .user-card {
        display: flex;
        align-items: center;
        gap: $space-1;
        padding: $space-2;
        .avatar {
          margin-bottom: 0;
          width: 70px;
        }
        p {
          margin: 0 auto;
          font-size: $fs-md;
        }
        h1 {
          margin: 0;
          font-size: 1.5rem;
          line-height: 1.2;
        }
      }
      .timeline {
        flex-direction: row;
        justify-content: space-between;
        padding: $space-1 $space-2 $space-2;
        gap: 0;
        button {
          text-align: center;
          width: 33.33%;
        }
      }
    }
  }
  .cards-grid {
    grid-template-columns: 1fr;
    gap: $space-2;
    .card {
      .card-top {
        height: 70px; 
        img {
          width: 70px; 
          margin-right: $space-1;
        }
      }
      .card-content {
        margin-top: -24px; 
        h2 {
          margin: 0;
        }
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
          "title dots"
          "hours prev";
        align-items: center;
        row-gap: 0.6rem;
        h2 {
          grid-area: title;
        }
        span {
          grid-area: dots;
          display: none;
        }
        .hours {
          grid-area: hours;
        }
        .previous {
          grid-area: prev;
          justify-self: end;
          font-size: $fs-md;
        }
      }
    }
  }
}

